.akbutton,.aktoggle{
background: url("images/buttons.png") repeat-x 0 0 rgba(0, 0, 0, 0);
border-color: #ddd #999 #777;
border-image: none;
border-radius: 20px;
border-style: solid;
border-width: 1px;
color: #5a5a5a;
cursor: pointer;
font-family: "Lucida Grande",Verdana,sans-serif;
font-size: 1.077em;
font-weight: bold;
margin: 1em 1em 1em 0;
padding: 4px 17px;
text-align: center;
min-width: 150px;
}
select.form-select{
	margin: 1em 0 0.5em;
}